@page

<div class="m-2">
    <table class="table table-sm table-striped table-bordered">
        <tbody>
        @* @foreach (var r in Repository.Responses) *@
        @* { *@
        @*     <tr> *@
        @*         <td>@r.Name</td> *@
        @*         <td>@r.Email</td> *@
        @*         <td>@r.Phone</td> *@
        @*     </tr> *@
        @* } *@
        </tbody>
    </table>
</div>